{% extends "layout/main.twig" %}

{% block content %}
    <div class="main-page">
        <h1>Hello FlexiCMS</h1>
        <p>You have successfully installed FlexiCMS. Now you can customize the main page.</p>
    </div>
{% endblock %}