<footer>
    <p>ООО «ДЖЕНОМиКо»</p>
    <div class="footer-links">
        <a href="mailto:mail@genomico.ru">mail@genomico.ru</a>
        <a href="tel:+74992816644">+7 499 281-66-44</a>
    </div>
    <img class="footer-img footer-img--left" src="{{ asset('img/footer_left.svg') }}">
    <img class="footer-img footer-img--center" src="{{ asset('img/footer_center.svg') }}">
    <img class="footer-img footer-img--right" src="{{ asset('img/footer_right.svg') }}">
</footer>